<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/style.css" />
        <title>My Book List | Welcome</title>
    </head>
    <body>
        <div class="container center">
            <div class="indexContainer">
                <h1 class="indexTitle">Welcome to My Book List</h1>
                <a href="/login" class="indexLogin">Login</a>
                <a href="/signup" class="indexSignup">Signup</a>
                <div class="circleContainer">
                    <div class="circle circleOne"></div>
                    <div class="circle circleTwo"></div>
                    <div class="circle circleThree"></div>
                    <div class="circle circleFour"></div>
                </div>
            </div>
        </div>
    </body>
</html>
