<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/style.css" />
        <title>My Book List | Signup</title>
    </head>
    <body>
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => {
        %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %>
        <div class="container center">
            <form action="/signup" method="POST">
                <div class="indexContainer">
                    <h1 class="signupTitle">Signup for My Book List</h1>
                    <input
                        type="text"
                        name="userName"
                        placeholder="User Name"
                        class="emailLoginInput"
                    />
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        class="emailLoginInput"
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        class="passwordLoginInput"
                    />
                    <input
                        type="password"
                        name="confirmPassword"
                        placeholder="Confirm Password"
                        class="passwordLoginInput"
                    />
                    <input type="submit" value="Signup" class="signupBtn" />
                    <div class="circleContainer">
                        <div class="circle circleOne"></div>
                        <div class="circle circleTwo"></div>
                        <div class="circle circleThree"></div>
                        <div class="circle circleFour"></div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
